allure-results/
screenshots/
test-output/


##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

## OS X
##############################
.DS_Store
/test-output-thread/chosen.jquery.min.js
/test-output-thread/chosen.min.css
/test-output-thread/chosen.override.css
/test-output-thread/chosen-sprite.png
/test output/PdfReport/ExtentPdf.pdf
/test-output-thread/formatter.js
/test-output-thread/index.html
/test-output-thread/jquery-3.5.1.min.js
/test-output-thread/report.css
/test-output-thread/report.js
/test-output-thread/vis.min.css
/test-output-thread/vis.min.js
/test-output-thread/vis.override.css
